/**
* @file _nav.scss
* @author zack@thestrongelement.com
*/

/**
* @section Nav
* Default styles for navs
*/
%nav--horizontal {
    @include clearfix;
    list-style: none;
    padding: 0;
    margin: 0;
    .navlist__item, & > .item__ {
        float: left;
        transition: all $time--base;
    }
    [aria-selected=true] {
        //cursor: default;
    }
    a {
        color: inherit;
    }
    &:hover {
        cursor: pointer;
    }
}
%nav--vertical {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    &[aria-hidden=true] {
        display: none;
    }
    [aria-selected=true] {
        cursor: default;
    }
    a {
        color: inherit;
    }
}
%nav--flex {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    .navlist__item, & > .item__ {
        flex: 1;
    }
    [aria-selected=true] {
        cursor: default;
    }
}

/**
* @section Nav
* Base styles for navlists (horizontal)
*/
.navlist {
    @extend %nav--horizontal;
}

/**
* @section Nav
* Base styles for navlists (dropdowns)
*/
.navlist--vertical {
    @extend %nav--vertical;
}

/**
* @section Nav
* Base styles for flex navlists (pagination)
*/
.navlist--flex {
    @extend %nav--flex;
}
