@keyframes bounce {
  0%, 100% {
    transform: scale(0.5);

  } 50% {
    transform: scale(1.0);
  }
}
@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
